body {
    text-align: center;
    background: url ("http://staceylink.github.io/unit_3/images/Hero.jpg");
    background-size: cover;     
    color: #fff;
    font-size:16px;
    font-family:Helvetica
}
h1 {
    font-size:2em;
}
